<div class="container ">
    <div *ngFor="let todo of todos">
        <div class="row ">
            <div class="col-xs-6 todo">
                <div class="todo" [ngClass]="{'todo-completed':todo.status}">
                    {{todo.name}}
                </div>
            </div>
            <div class="col-xs-6">
                <button (click)="onComplete(todo.id)" class="btn-success btn"><i
                        [ngClass]="todo.status?'bi bi-check2-square':'bi bi-square'"></i></button>&nbsp;
                <!-- <button (click)="onEdit(todo.id)" class="btn-warning btn"><i
                        class="bi bi-pencil-square"></i></button>&nbsp; -->
                <button (click)="onRemove(todo.id)" class="btn-danger btn"><i class="bi bi-trash"></i></button>&nbsp;
                <span
                    *ngIf="todo.date!==null">{{todo.date.getDate()}}/{{todo.date.getMonth()}}/{{todo.date.getFullYear()}}</span>
                <span *ngIf="todo.date==null">No Due Date</span>
            </div>
        </div>
        <hr>
    </div>


</div>